<div class="course masthead">
  <h2>{{ site.data.course.semester }} {{ site.data.course.year }}</h2>
  <h1>
    <a href="{{ '/' | relative_url }}">{{ site.data.course.title }}</a>
  </h1>
  <p>
    {{ site.data.course.days }} {{ site.data.course.startTime}}&ndash;{{ site.data.course.endTime }} in {{ site.data.course.location }}
  </p>
  <ul class="links">
    {% for link in site.data.navigation.main %} 
      {% if link.url contains 'http' %} 
        {% assign domain = '' %} 
      {% else %} 
        {% assign domain = site.url | append: site.baseurl %} 
      {% endif %}
      <li>
        <a href="{{ domain }}{{ link.url }}" 
          {% if link.description %}
            title="{{ link.description }}" 
          {% endif %}>
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
