{% assign schedule = site.data.schedule %}

<table class="schedule" role="table">
    <!-- <caption>"Schedule"</caption> -->
    <thead role="rowgroup">
        <tr role="row">
            <th scope="col" role="columnheader">Week</th>        
            <!-- Dynamically determine the names of the days -->
            {% assign days = site.data.course.days %}
            {% if days == 'TTh' %}
                {% assign day1 = 'Tuesday' %}
                {% assign day2 = 'Thursday' %}
            {% elsif days == 'MW' %}
                {% assign day1 = 'Monday' %}
                {% assign day2 = 'Wednesday' %}
            {% endif %}
            <th scope="col" role="columnheader" class="day" colspan="2">{{day1}}</th>
            <th scope="col" role="columnheader" class="day" colspan="2">{{day2}}</th>
            <th scope="col" role="columnheader" class="assignment">Assignment</th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        {% for week in schedule.weeks %}
            <tr role="row" class="week">
                <th scope="row" role="rowheader" class="week-num">{{ week.number }}</th>

                {% for class in week.classes %}
                    <!-- TODO: holidays -->
                    <td class="date">{{ class.date }}</td>
                    <td class="class">
                        <h1 class="title">{{ class.title }}</h1>
                        <h2 class="subtitle">{{ class.subtitle }}</h2>
                        <ul class="materials">
                        {% for material in class.materials %}
                            <li>
                                {% if material.link %}
                                    <a href="{{material.link}}">
                                {% endif %}
                                {{material.title}}
                                {% if material.link %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>                                
                    </td>
                {% endfor %}

                <td role="cell" class="assignment">
                    <!-- TODO: create list only if there is an assignment -->
                    {% if week.assignments.size > 0 %}
                        <dl>
                            {% for assignment in week.assignments %}
                                <dt>
                                    {% if assignment.url %}
                                        <a href="{{ assignment.url }}">
                                    {% endif %}
                                    {{  assignment.title }}
                                    {% if assignment.url %}
                                        </a>
                                    {% endif %}
                                </dt>
                                <dd>
                                    {% if assignment.dueDate or assignment.date %}
                                        <span class="dueDate">
                                            {% if assignment.dueDate %}
                                                Due: {{ assignment.dueDate | markdownify }}
                                            {% else %} 
                                                {{ assignment.date | markdownify }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
