div.masthead {
    @include line-lists;

    padding-top: 0;
    padding-bottom: 0;
    text-align: center;

    h1 {
        a {
            color: $brand-accent-1;
        }

        a:hover {
            color: $link-color;
        }
    }

    h2 {
        font-size: $font-size-lg;
        color: $gray-light;
    }

    ul {
        font-size: 1em;
    }

    
}