/*******************************************************************************
 * Tables
 *******************************************************************************/

// TODO: set breakpoints for widths on responsive tables?

table.schedule {
  border-spacing: 5px 15px;
  border-collapse: separate;

  td,
  th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th.week-num {
    text-align: center;
  }

  .holiday {
    filter: saturate(.1);
  }

   th.day {
     text-align: center;
   }

   td.date {
     color: white;
     background-color: $brand-accent-1;
     font-size: small;
     text-align: center;
     border: 1px solid transparentize($brand-accent-1, .75);
     width: 5%;
     position: relative;
     padding: 5px;
   }

   td.class {
     border: 1px solid transparentize($brand-accent-1, .75);
     width: 30%;
     position: relative;
     left: -5px;
     padding: 7px 10px;

        h1.title {
          font-size: 1.1 * $font-size-base;
          margin: 0;
        }

        h2.subtitle {
          font-size: $font-size-sm;
          margin: 0;
          font-style: italic;
        }

        ul.materials {
          margin: 0;
          margin-top: 5px;
          font-size: $font-size-xs;
          font-style: italic;
        }

        ul.materials li {
          // margin: 0;
          display: inline;
        }

   }

   td.assignment {
    dl {
      margin: 10px 0;
      border-left: 2px solid $brand-accent-1;
      padding: 3px 7px;

      dt {
        line-height: 1.1;
        margin: 0;
        margin-top: 7px;
      }

      dd {
        margin: 0;
      }

      .dueDate {
        font-size: $font-size-sm;
        font-style: italic;
      }

      p {
        margin: 0;
        padding: 0;
        display: inline;
      }

      .dueDate {
        font-size: $font-size-sm;
        font-style: italic;
      }
    }    
  }
}