@import "cardstock/variables";

$global-font-family: $serif;

$content-background: white;
$page-background: #FFFFF2;
$border-color: #cccccc;
$link-color: #990000;
$link-hover-color: #F08A75;
$link-color-visited: $link-color;
$plainlink-color: black;
$highlight-color: #057699;
$title-color: $highlight-color;
$title-background: rgba($page-background, .05); //rgba(250, 245, 228, 0.38);
$standout-background: white;
$standout-border: 1px solid #cccccc;
$shadow-color: #E5EEFA;

$schoology-color: #224E77;