/* Variables */
@import "cardstock/variables";

/* Vendors */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Common styles */
@import "cardstock/common";
// @import "cardstock/util";

/* Course styles */
// @import "course/tables";
@import "course/masthead";
