// Assumes Bootstrap is present

/*******************************************************************************
 * Colors
 *******************************************************************************/
$brand-lightest: #FFFFFF;
$brand-light: #FFFFF2;
$brand-accent-1: #990576;
$brand-accent-2: #057699;
$brand-dark: $gray-dark;
$brand-darkest: #000000;

$body-background: $brand-light !default;
$content-background: $brand-lightest !default;
$section-border-color: $card-border-color;

/*******************************************************************************
 * Links
 *******************************************************************************/

$link-color: $brand-accent-1 !default;
$link-decoration : underline !default;

/*******************************************************************************
 * Typography
 *******************************************************************************/
$font-family-base : $font-family-serif !default;
